html, body,
#todo-list-example {
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

body {
  overflow-x: hidden;
}

.scroll-bar::-webkit-scrollbar {
  background-color: white;
  width: 4px;
}
.scroll-bar::-webkit-scrollbar-thumb {
  background-color: #c8c8c8;
}

#todo-list-example,
#todo-list {
  overflow: auto;
}
#todo-list-example div,
#todo-list div,
#todo-list-example h1,
#todo-list h1,
#todo-list-example h2,
#todo-list h2,
#todo-list-example h3,
#todo-list h3,
#todo-list-example h4,
#todo-list h4,
#todo-list-example h5,
#todo-list h5,
#todo-list-example h6,
#todo-list h6,
#todo-list-example input,
#todo-list input,
#todo-list-example button,
#todo-list button,
#todo-list-example li,
#todo-list li,
#todo-list-example textarea,
#todo-list textarea {
  font-family: 'Roboto', sans-serif;
}
#todo-list-example #hints,
#todo-list #hints {
  background-color: white;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  bottom: 0px;
  left: 0px;
  margin: 20px;
  padding: 15px 20px;
  position: fixed;
  z-index: 1;
}
#todo-list-example #hints #hint-title,
#todo-list #hints #hint-title {
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 10px;
  padding-bottom: 5px;
}
#todo-list-example #hints #hint-title h1,
#todo-list #hints #hint-title h1 {
  color: #3c3c3c;
  font-size: 0.8em;
  font-weight: 400;
  margin: 0px;
}
#todo-list-example #hints .hint:nth-child(n + 2),
#todo-list #hints .hint:nth-child(n + 2) {
  margin-top: 5px;
}
#todo-list-example #hints .hint svg,
#todo-list-example #hints .hint h1,
#todo-list #hints .hint svg,
#todo-list #hints .hint h1 {
  display: inline-block;
  height: 12px;
  vertical-align: top;
}
#todo-list-example #hints .hint svg,
#todo-list #hints .hint svg {
  width: 12px;
}
#todo-list-example #hints .hint svg path,
#todo-list #hints .hint svg path {
  fill: #4eb3f1;
}
#todo-list-example #hints .hint h1,
#todo-list #hints .hint h1 {
  color: #3c3c3c;
  font-size: 0.8em;
  font-weight: 400;
  line-height: 12px;
  margin: 0px;
  margin-left: 10px;
}
#todo-list-example #todo-list-example__background-accent,
#todo-list #todo-list-example__background-accent {
  background-color: #4eb3f1;
  height: 90vh;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translateX(-50%) rotate(5deg);
  width: 150%;
}
#todo-list-example #items-outer-container,
#todo-list #items-outer-container {
  animation: fadeIn 0.5s ease-in;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
  left: 50%;
  padding: 20px;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 10;
}
#todo-list-example #items-outer-container #items-container,
#todo-list #items-outer-container #items-container {
  max-height: 600px;
  overflow: auto;
  width: 460px;
}

#todo-list-example #items-outer-container #items-container #add-item-input,
#todo-list #items-outer-container #items-container #add-item-input {
  padding: 20px;
  padding-left: 40px;
}

#todo-list-example #items-outer-container #items-container #add-item-input svg,
#todo-list #items-outer-container #items-container #add-item-input svg,

#todo-list-example #items-outer-container #items-container #add-item-input input,
#todo-list #items-outer-container #items-container #add-item-input input {
  display: inline-block;
  vertical-align: top;
}

#todo-list-example #items-outer-container #items-container #add-item-input svg,
#todo-list #items-outer-container #items-container #add-item-input svg {
  height: 20px;
  margin-right: 20px;
  width: 20px;
}

#todo-list-example #items-outer-container #items-container #add-item-input svg path,
#todo-list #items-outer-container #items-container #add-item-input svg path {
  fill: #c8c8c8;
}

#todo-list-example #items-outer-container #items-container #add-item-input input,
#todo-list #items-outer-container #items-container #add-item-input input {
  border: 0px;
  color: #787878;
  font-size: 1em;
  font-weight: 400;
  height: 20px;
  outline: 0px;
  padding: 0px;
}

#todo-list-example #items-outer-container #items-container #items,
#todo-list #items-outer-container #items-container #items {
  margin: 20px;
  margin-top: 0px;
  overflow: hidden;
  position: relative;
}

#todo-list-example #items-outer-container #items-container #items .item,
#todo-list #items-outer-container #items-container #items .item {
  left: 0px;
  padding: 20px;
  position: absolute;
  transition: all 0.5s, background-color 0s;
  width: calc(100% - 40px);
}

#todo-list-example #items-outer-container #items-container #items .item:hover,
#todo-list #items-outer-container #items-container #items .item:hover {
  background-color: rgba(230, 230, 230, 0.4);
}

#todo-list-example #items-outer-container #items-container #items .item:hover .item-name-input textarea,
#todo-list #items-outer-container #items-container #items .item:hover .item-name-input textarea {
  background-color: transparent;
}
#todo-list-example #items-outer-container #items-container #items .item:hover .item-edit,
#todo-list #items-outer-container #items-container #items .item:hover .item-edit,

#todo-list-example #items-outer-container #items-container #items .item:hover .item-delete,
#todo-list #items-outer-container #items-container #items .item:hover .item-delete {
  opacity: 1;
}

#todo-list-example #items-outer-container #items-container #items .item.completed .item-icon:hover .completed path,
#todo-list #items-outer-container #items-container #items .item.completed .item-icon:hover .completed path {
  fill: #3c3c3c;
}

#todo-list-example #items-outer-container #items-container #items .item.completed .item-icon .completed,
#todo-list #items-outer-container #items-container #items .item.completed .item-icon .completed {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%) scale(1);
}

#todo-list-example #items-outer-container #items-container #items .item.completed .item-icon .uncompleted,
#todo-list #items-outer-container #items-container #items .item.completed .item-icon .uncompleted {
  opacity: 0;
  transform: translateX(-50%) translateY(-50%) scale(0.25);
}

#todo-list-example #items-outer-container #items-container #items .item.completed .item-name h1,
#todo-list #items-outer-container #items-container #items .item.completed .item-name h1 {
  color: #c8c8c8;
  text-decoration: line-through;
}

#todo-list-example #items-outer-container #items-container #items .item.completed .item-edit,
#todo-list #items-outer-container #items-container #items .item.completed .item-edit {
  opacity: 0;
  pointer-events: none;
}

#todo-list-example #items-outer-container #items-container #items .item.editing .item-edit,
#todo-list #items-outer-container #items-container #items .item.editing .item-edit {
  opacity: 0;
  pointer-events: none;
}
#todo-list-example #items-outer-container #items-container #items .item .item-name,
#todo-list #items-outer-container #items-container #items .item .item-name,
#todo-list-example #items-outer-container #items-container #items .item .item-icon,
#todo-list #items-outer-container #items-container #items .item .item-icon,
#todo-list-example #items-outer-container #items-container #items .item .item-edit,
#todo-list #items-outer-container #items-container #items .item .item-edit,
#todo-list-example #items-outer-container #items-container #items .item .item-name-input,
#todo-list #items-outer-container #items-container #items .item .item-name-input,

#todo-list-example #items-outer-container #items-container #items .item .item-delete,
#todo-list #items-outer-container #items-container #items .item .item-delete {
  display: inline-block;
  vertical-align: top;
}

#todo-list-example #items-outer-container #items-container #items .item .item-name,
#todo-list #items-outer-container #items-container #items .item .item-name {
  margin-left: 20px;
  width: calc(100% - 120px);
}

#todo-list-example #items-outer-container #items-container #items .item .item-name h1,
#todo-list #items-outer-container #items-container #items .item .item-name h1 {
  color: #3c3c3c;
  font-size: 1em;
  font-weight: 400;
  line-height: 20px;
  margin: 0px;
}

#todo-list-example #items-outer-container #items-container #items .item .item-icon,
#todo-list #items-outer-container #items-container #items .item .item-icon {
  cursor: pointer;
  height: 20px;
  position: relative;
  width: 20px;
  z-index: 2;
}

#todo-list-example #items-outer-container #items-container #items .item .item-icon:hover svg.uncompleted path,
#todo-list #items-outer-container #items-container #items .item .item-icon:hover svg.uncompleted path {
  fill: #43efa9 !important;
}

#todo-list-example #items-outer-container #items-container #items .item .item-icon svg,
#todo-list #items-outer-container #items-container #items .item .item-icon svg {
  height: 18px;
  left: 50%;
  line-height: 18px;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) scale(1);
  transition: all 0.5s;
  width: 18px;
}

#todo-list-example #items-outer-container #items-container #items .item .item-icon svg.completed,
#todo-list #items-outer-container #items-container #items .item .item-icon svg.completed {
  opacity: 0;
  transform: translateX(-50%) translateY(-50%) scale(0.25);
}

#todo-list-example #items-outer-container #items-container #items .item .item-icon svg.completed path,
#todo-list #items-outer-container #items-container #items .item .item-icon svg.completed path {
  fill: #43efa9;
}

#todo-list-example #items-outer-container #items-container #items .item .item-icon svg.uncompleted path,
#todo-list #items-outer-container #items-container #items .item .item-icon svg.uncompleted path {
  fill: #3c3c3c;
}
#todo-list-example #items-outer-container #items-container #items .item .item-edit,
#todo-list #items-outer-container #items-container #items .item .item-edit,

#todo-list-example #items-outer-container #items-container #items .item .item-delete,
#todo-list #items-outer-container #items-container #items .item .item-delete {
  cursor: pointer;
  height: 18px;
  line-height: 18px;
  margin-left: 15px;
  opacity: 0;
  position: relative;
  text-align: center;
  width: 18px;
  z-index: 2;
}
#todo-list-example #items-outer-container #items-container #items .item .item-edit:hover svg path,
#todo-list #items-outer-container #items-container #items .item .item-edit:hover svg path,

#todo-list-example #items-outer-container #items-container #items .item .item-delete:hover svg path,
#todo-list #items-outer-container #items-container #items .item .item-delete:hover svg path {
  fill: #43efa9;
}
#todo-list-example #items-outer-container #items-container #items .item .item-edit svg,
#todo-list #items-outer-container #items-container #items .item .item-edit svg,

#todo-list-example #items-outer-container #items-container #items .item .item-delete svg,
#todo-list #items-outer-container #items-container #items .item .item-delete svg {
  height: 18px;
  line-height: 18px;
  position: relative;
  text-align: center;
  width: 18px;
  z-index: 1;
}
#todo-list-example #items-outer-container #items-container #items .item .item-edit svg path,
#todo-list #items-outer-container #items-container #items .item .item-edit svg path,

#todo-list-example #items-outer-container #items-container #items .item .item-delete svg path,
#todo-list #items-outer-container #items-container #items .item .item-delete svg path {
  fill: #3c3c3c;
}

#todo-list-example #items-outer-container #items-container #items .item .item-name-input,
#todo-list #items-outer-container #items-container #items .item .item-name-input {
  margin-left: 20px;
  width: calc(100% - 120px);
}

#todo-list-example #items-outer-container #items-container #items .item .item-name-input textarea,
#todo-list #items-outer-container #items-container #items .item .item-name-input textarea {
  border: none;
  font-size: 1em;
  font-weight: 400;
  line-height: 20px;
  outline: none;
  padding: 0px;
  resize: none;
  width: 100%;
}

#todo-list-example #items-outer-container #items-container #items .item .item-delete:hover svg path,
#todo-list #items-outer-container #items-container #items .item .item-delete:hover svg path {
  fill: #d32f2f;
}

#todo-list-example #items-outer-container #items-container #items #items-completed__header,
#todo-list #items-outer-container #items-container #items #items-completed__header {
  height: 60px;
  margin-top: 20px;
  position: relative;
}

#todo-list-example #items-outer-container #items-container #items #items-completed__header:after,
#todo-list #items-outer-container #items-container #items #items-completed__header:after {
  background-color: #e6e6e6;
  content: '';
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

#todo-list-example #items-outer-container #items-container #items #items-completed__header h1,
#todo-list #items-outer-container #items-container #items #items-completed__header h1 {
  color: #c8c8c8;
  font-size: 1em;
  font-weight: 400;
  height: 19px;
  margin: 0px;
  padding: 20px;
  padding-left: 60px;
}
#todo-list-example #items-outer-container #items-container #items #items-uncompleted__spacer,
#todo-list #items-outer-container #items-container #items #items-uncompleted__spacer,

#todo-list-example #items-outer-container #items-container #items #items-completed__spacer,
#todo-list #items-outer-container #items-container #items #items-completed__spacer {
  transition: all 0.5s;
  width: 100%;
}

#todo-list-example #items-outer-container #items-container #items #items-uncompleted__spacer,
#todo-list #items-outer-container #items-container #items #items-uncompleted__spacer {
  top: 0px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
